html{line-height:1.15;
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* GLOBAL STYLES */

.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1, h2, h4 {
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 4.2rem;
}

p, button, a, span, form {
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
    line-height: 2.9rem;
}

p {
    margin: 1.8rem 0;
}

 /* MOBILE MENU SECTION  */


.fa-bars,
#menu,
.mobile-menu-content
 {
    /* display: none; */
}

.mobile-menu {
    position: absolute;
    right: 0;
    top: 0;
    /* border: 2px solid pink; */
}
.mobile-menu {
    position: absolute;
    right: 0;
    top: 5px;
    width: 88%;
    display: none;
}
.mobile-menu-content {
    color: black;
}

.mobile-menu-content li {
    float: left;
    /* width: auto; */
}
.mobile-menu-content ul {
    /* display: none; */
    /* position: absolute; */
    /* right: -290px;  */
    /* width: 0; */
    height: 0;
    overflow: hidden;
    z-index: 1;
}
.mobile-menu-content a {
    display:block;
    padding: 12px;
    background-color: #f2a01cc6;
    border: 2px solid blue;
}
.mobile-menu-content input {
    display: none;
}
.fa-bars {
    font-size: 5rem;
    padding: 0 12px;
    color: white;
    float: right;
}

input[type="checkbox"]:checked + ul {
    /* display: initial; */
    /* right: 66px; */
    /* width: 291px; */
    transition: height 0.3s ease-out 0s;
}

input[type="checkbox"]:not(:checked) + ul {
    /* right: -290px; */
    /* width: 0; */
    height: 157px;
    transition: height 0.2s ease-out 0s;
}


/* HEADER SECTION */

header {
    background-image: url(./assets/image-1.jpg);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    color: white;
}

.top-nav ul {
    text-align: center;
}
.top-nav li {
    display: inline-block;
    text-transform: uppercase;
}
.top-nav li a {
    padding: 20px;
    font-size: 1.6rem;
}

h1 {
    font-weight: 400;
    font-size: 13rem;
    text-align: center;
    color: #f2a11c;
    margin-top: 30vh;
}
.wrapper {
    position: relative;
}
.socials {
    width: 50px;
    position: absolute;
    right: 0;
    top: 40vh;
    color: #f2a11c;
}
.socials li {
    padding: 5px;
}
.fab {
    font-size: 2.5rem;
}


/* INFO SECTION styles */

.info li {
    width: 50vw;
    min-height: 572px;
}

.top-info li:nth-of-type(1) {
    background-image: url(./assets/image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}
.top-info li:nth-of-type(2) {
    background: #f4f4f4;
    position: relative;
    float: left;
}

.bottom-info li:nth-of-type(1) {
    background-image: url(./assets/image-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.bottom-info li:nth-of-type(2) {
    background: #f4f4f4;
    position: relative;
    float: right;
}

.pseudo-wrapper {
    max-width: 620px;
    position: absolute;
}
.pseudo-wrapper-left {
    margin-left: 6vw;
    padding: 10vw 6vw 8vw 0;
    right: 0;
}
.pseudo-wrapper-right {
    margin-right: 6vw;
    padding: 10vw 0 8vw 6vw;
    left: 0;
}

article {
    padding: 20px 0;
}

.button {
    padding: 15px 30px;
    background: black;
    display: inline-block;
    color: #f2a11c;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
}


/* PROFILE SECTION  */

.profile {
    padding: 7vw;
    background: rgba(244, 244, 244, 0.5);
}
.profile-pic {
    width: 25%;
    float: left;
}
.profile article {
    float: left;
    padding: 0 40px;
    width: 75%;
}

/* MAIN-LINKS SECTION  */
.main-links {
    background-image: url(./assets/image-5.jpg);
     background-size: cover;
    background-position: center;
    color: white;
    padding: 8vw 0;
}
.main-links ul {
    text-align: center;
}
.main-links li {
    display: inline-block;
    padding: 38px;
}
.fas {
    font-size: 5rem;
    padding: 10px;
}
.fa-phone {
    font-size: 4rem;
    padding: 13px;
}
h3 {
    color: #f2a11c;
    text-align: center;
    font-size: 2.2rem;
    padding: 20px;
}

/* THE-GRAM SECTION  */

.the-gram {
    padding: 5vw 0;
    background: rgba(244, 244, 244, 1);
}

.the-gram h2 {
    text-align: center;
    margin: 15px;
    padding-bottom: 3vw;
}
.the-gram ul {
    margin: 2vw 0;
}
.the-gram li {
    width: calc((99.99% - 5.4vw) / 3);
    float: left;
    margin-right: 2.7vw;
}

.the-gram li:last-child {
    margin-right: 0;
}

/* ASIDE SECTION  */

aside {
    background-color: #1f2022;
    color: white;
    padding: 90px;
}

aside nav {
    margin-bottom: 20px;
}

.contact {
    float: left;
    width: 50%;
}

h4 {
    font-size: 2rem;
    color: #f2a11c;
    margin: 2rem 0;
}
.address {
    display: block;
}

.newsletter {
    float: left;
    width: 50%;
}

form {
    font-size: 0;
    margin: 4px 0;
    padding: 0;
}

#email {
    width: 75%;
    border: none;
    height: 42px;
    padding-left: 30px;
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
}

button {
    width: 25%;
    background: #f2a11c;
    text-transform: uppercase;
    font-size: 1.7rem;
    border: none;
    padding: 7px 10px;
    margin: 0;
    display: inline-block;
    float: right;
}

/* FOOTER SECTION  */

footer {
    background: #000;
    color: #686868;
    text-align: center;
}

footer span {
    padding: 5px;
    display: inline-block;
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    /* HEADER SECTION  */
    header {
        background-image: url(./assets/image-1-mobile@2x.jpg);
    }
    h1 {
        font-size: 7rem;
        margin-top: 27vh;
    }
    .socials {
        display: none;
    }

    /* INFO SECTION  */
    .info li {
        width: 100vw;
    }
    .top-info li:nth-of-type(1) {
        min-height: 175px;
        float: none;
    }
    .top-info li:nth-of-type(2) {
        min-height: 372px;
        clear: both;
    }
    .bottom-info li:nth-of-type(1) {
      min-height: 175px;
    }

    .bottom-info li:nth-of-type(2) {
      min-height: 372px;
    }

    /* PROFILE SECTION  */
    .profile {
        padding: 5vw;
    }
    .profile .centering{
        margin: 0 auto;
        width:50%;
    }
    .profile-pic {
        width: 100%;
    }
    .profile h2 {
        padding: 35px 0 0;
        text-align: center;
    }
    .profile article {
        padding: 0;
        width: 100%;
    }

    /* ASIDE SECTION  */
    aside {
        padding: 15px;
    }
    .contact, 
    .newsletter {
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 417px) {
    .centering{
        text-align: center;
    }

    /* HEADER SECTION  */
    .top-nav {
        visibility: hidden;
    }
    .mobile-menu {
        display: initial;
    }

    /* INFO SECTION  */

    .top-info li:nth-of-type(2),
    .bottom-info li:nth-of-type(2) {
      min-height: 423px;
      text-align: center;
    }

    /* PROFILE SECTION  */
    .profile .centering{
        width:100%;
    }
    
    /* MAIN-LINKS  */
    .main-links li {
        padding-bottom: 0;
    }
    /* THE-GRAM SECTION  */
    .the-gram li:nth-of-type(3) {
        display: none;
    }
    .the-gram li:nth-of-type(1) {
        margin-left: 2.7vw;
    }
    .the-gram li {
        width: calc((99.99% - 8.1vw) / 2);
    }
    .the-gram ul {
        margin-bottom: 25px;
    }
    /* ASIDE SECTION  */
    nav li:nth-of-type(1) a {
        padding-left: 0;
    }
    nav li:nth-of-type(4) a {
        padding-right: 0;
    }
    #email {
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
    }
}